<!DOCTYPE html>
<html>
  <head>
    <title>Batinotas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	  <body>
      <div id="main-container" class="container-fluid">
          <%= yield %>
      </div>
	  </body>
    <footer class="text-muted">
      <div class="container text-xs-center">
        <br>
        <p>&copy;Batinotas inc.</p>
        <br>
      </div>
    </footer>
</html>
