<section class="jumbotron text-center text-xs-center">
	<div class="container">
		<h1 class="jumbotron-heading">Editing Long Task</h1>
		<p class="lead text-muted">
			Touch all you want.
		</p>
		<p class="lead text-muted">
			(^_<)〜☆
		</p>
		<%= link_to 'Back', @list, class: "btn btn-info"%>
	</div>
</section>

<%= render 'form', long_task: @long_task %>

