<section class="jumbotron text-center text-xs-center">
	<div class="container">
		<h1 class="jumbotron-heading">New Temporal Task</h1>
		<%= link_to 'Back', @list, class: "btn btn-info"%>
	</div>
</section>

<div class="container">
	<div class="row">
		<%= render 'form', temporal_task: @temporal_task %>
	</div>
</div>
